@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<DebraWebApp.Models.Admin>

<div class="container">
    <h1>Welcome to Admin Dashboard</h1>

    <div class="row">
        <div class="col-md-6">
            <section class="card">
                <h2>Event Management</h2>
                <ul>
                    <li><a asp-controller="Event" asp-action="Index">Manage Events</a></li>
                    <li><a asp-controller="Event" asp-action="Create">Create New Event</a></li>
                    <li><a asp-controller="Ticket" asp-action="Index">Ticket Management</a></li>
                </ul>
            </section>
        </div>

        <div class="col-md-6">
            <section class="card">
                <h2>Partner Management</h2>
                <ul>
                    <li><a asp-controller="Partner" asp-action="PartnerAdmin">View Partners</a></li>
                    <li><a asp-controller="Partner" asp-action="Create">Add new Partner</a></li>
                    <li><a href="#">Commission Rates</a></li>
                </ul>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <section class="card">
                <h2>Ticket Sales</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Sale Id</th>
                            <th>Ticket Id</th>
                            <th>Tickets Sold</th>
                            <th>Total</th>
                            <th>Earnings</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sell in ViewBag.Sell)
                        {
                            <tr>
                                <td>@sell.SaleId</td>
                                <td>@sell.TicketId</td>
                                <td>@sell.QuantitySold</td>
                                <td>@sell.TotalAmount.ToString("C")</td>
                                <td>@sell.Commission.ToString("C")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </section>
        </div>

        <div class="col-md-6">
            <section class="card">
                <h2>Earnings by Event</h2>
                <form id="eventForm">
                    <div>
                        <label for="eventID">Select Event:</label>
                        <select id="eventID" name="eventID">
                            <option value="">-- Select Event --</option>
                            @foreach (var events in ViewBag.Events)
                            {
                                <option value="@events.EventId">@events.Location</option>
                            }
                        </select>
                    </div>
                </form>
                <div id="eventSales">
                    <!-- Event sales data will be loaded here -->
                </div>
                <div id="eventEarnings">
                    <!-- Partner earnings data will be loaded here -->
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <section class="card">
                <h2>Earnings by Partners</h2>
                <form id="partnerForm">
                    <div>
                        <label for="partnerId">Select Partner:</label>
                        <select id="partnerId" name="partnerId">
                            <option value="">-- Select Partner --</option>
                            @foreach (var partner in ViewBag.Partners)
                            {
                                <option value="@partner.Id">@partner.Name</option>
                            }
                        </select>
                    </div>
                </form>
                <div id="partnerSales">
                </div>
                <div id="partnerEarnings">
                </div>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#eventID').change(function () {
                var eventId = $(this).val();
                $.get('@Url.Action("GetSalesByEvent")', { eventID: eventId }, function (data) {
                    $('#eventSales').html(data);
                });

                $.get('@Url.Action("EarningsByEvent")', { eventID: eventId }, function (earnings) {
                    $('#eventEarnings').html('<h3>Total Earnings: ' + earnings.toFixed(2) + '</h3>');
                });
            });

            $('#partnerId').change(function () {
                var partnerId = $(this).val();
                $.get('@Url.Action("GetSalesByPartner")', { partnerId: partnerId }, function (data) {
                    $('#partnerSales').html(data);
                });

                $.get('@Url.Action("GetEarningsByPartner")', { partnerId: partnerId }, function (earnings) {
                    $('#partnerEarnings').html('<h3>Total Earnings: ' + earnings.toFixed(2) + '</h3>');
                });
            });
        });
    </script>
}
